
<div id="root">
    <div class="container pt-5">
      <div class="row align-items-stretch">
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">{{data.name}}<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count">{{data.value}}</span><span
              class="hind-font caption-12 c-dashboardInfo__subInfo">{{data.subValue}}</span>
          </div>
          </div>
        </div>
    </div>
  </div>