table {
    width: 100%;
  }
.table{
    --bs-table-hover-bg:#ebf5fa;
}
.top{
    padding: 50px;
    padding-top: 70px;

}
section {
    display: table;
    right: 30px;
  position: absolute;
  padding: 20px;
  }

  .mat-icon{
    height: 22px;
    width: 30px;
  }
  .del{
    background-color: transparent;
    border: none;
    color: maroon;
  }