<div class="sidebar">
    <img class="img" src="assets/images/user-logo.png"/>
    <h1>USER NAME</h1>
        <a class="nav-link" routerLink="/home/dashboard" routerLinkActive="active" >Dashboard</a>
    <a class="nav-link" routerLink="/home/sales" routerLinkActive="active">Sales</a>
    <a class="nav-link" routerLink="/home/purchased-items" routerLinkActive="active">Purchased Items</a>
    <a class="nav-link" routerLink="/home/suppliers" routerLinkActive="active">Suppliers</a>
    <a class="nav-link" routerLink="/home/stocks-list" routerLinkActive="active">Stocks</a>
    <!-- <div class="logout">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Logout</a>
    </div> -->
 </div>