
<section>
  <div class="example-button-row">
        <button (click)="add(null)" mat-raised-button color="primary">Add Item</button>
  </div>
</section>
<div class="top">
<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item Name</th>
        <th scope="col">Supplier</th>
        <th scope="col">Date</th>
        <th scope="col">Available Stocks</th>
      </tr>
    </thead>
    <tbody *ngFor="let items of stockItems" >
      <tr *ngIf="items.stocks<10 else other" style="color: red;">
        <th (click)="add(items.id)" scope="row">{{items.id}}</th>
        <td (click)="add(items.id)"  >{{items.name}}</td>
        <td (click)="add(items.id)" >{{items.supplier}}</td>
        <td (click)="add(items.id)" >{{items.date}}</td>
        <td (click)="add(items.id)" >{{items.stocks}}</td>
        <td><button class="del" (click)="delete(items.id)"><mat-icon >highlight_off</mat-icon></button></td>   
      </tr>
      <ng-template #other>
        <tr >
          <th (click)="add(items.id)" scope="row">{{items.id}}</th>
          <td (click)="add(items.id)"  >{{items.name}}</td>
          <td (click)="add(items.id)" >{{items.supplier}}</td>
          <td (click)="add(items.id)" >{{items.date}}</td>
          <td (click)="add(items.id)" >{{items.stocks}}</td>
          <td><button class="del" (click)="delete(items.id)"><mat-icon >highlight_off</mat-icon></button></td>   
        </tr>
      </ng-template>
    </tbody>    
</table>
</div>
