<div class="top">
    <form class="form1">
      <input class="un " type="text" name="name" [(ngModel)]="form.name" placeholder="Item Name">
      <input class="un " type="text" name="supplier" [(ngModel)]="form.supplier" placeholder="Supplier">
      <input class="un " type="text" name="date"[(ngModel)]="form.date" placeholder="Date">
      <input class="un " type="text" name="quantity"[(ngModel)]="form.quantity" placeholder="Quantity">
      <input class="un " type="text" name="price"[(ngModel)]="form.price" placeholder="Price">
      <input class="un " type="text" name="total"[(ngModel)]="form.total" placeholder="Total">


      <section>
        <div class="example-button-row">
              <button class="btn btn-primary" (click)="submit(form)" >Add Item</button>
        </div>
      </section>
    </form>               
</div>