<div class="top">
    <form class="form1" ngNativeValidate>
      <input class="un " type="text" name="name" [(ngModel)]="form.name" placeholder="Item Name" required>
      <input class="un " type="text" name="supplier" [(ngModel)]="form.supplier" placeholder="Supplier" required>
      <input class="un " type="date" name="date"[(ngModel)]="form.date" placeholder="Date" required>
      <input class="un " type="text" name="quantity"[(ngModel)]="form.quantity" placeholder="Quantity" required>
      <input class="un " type="text" name="price"[(ngModel)]="form.price" placeholder="Price" required>
      <section>
        <div *ngIf="form.id!=null else other" class="example-button-row">
            <button (click)="submit()" type="submit" class="btn btn-primary">Update Item</button>
      </div>
      <ng-template #other><button (click)="submit()" type="submit" class="btn btn-primary">Add Item</button>
      </ng-template>
      </section>
    </form>               
</div>