<div class="top">
    <form class="form1">
      <input class="un " type="text" value={{data.value.id}} placeholder="Item Name">
      <input class="un " type="text" value={{data.value.supplier}} placeholder="Supplier">
      <input class="un " type="text" value={{data.value.date}} placeholder="Date">
      <input class="un " type="text" value={{data.value.Quantity}} placeholder="Quantity">
      <input class="un " type="text" value={{data.value.price}} placeholder="Price">
      <input class="un " type="text" value={{data.value.Total}} placeholder="Total">


      <section>
        <div class="example-button-row">
              <button class="btn btn-primary" >Add Item</button>
        </div>
      </section>
    </form>               
</div>